.content-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #0A1929;
  color: white;
  height: 100vh;
}
.card-contianer {
  display: flex;
  justify-items: center;
  align-items: center;
}
.card-icon {
  font-size: 50px !important;
  margin-top: 20px;
}
.parking-slot-container {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.parking-slot-container p {
  margin: 0;
}